.about-us-bg {
    background-color: #2e2e2e;
}
.about-us-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.about-us-content {
    padding-block: 100px;
}