.banner-bg {
    background-image: url('https://i.ibb.co/YjPt1gy/img-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.banner-bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.banner-title {
    background: linear-gradient(315deg, #5b6568 0%, #d3d3d3 74%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-description {
    background: linear-gradient(315deg, #5b6568 0%, #d3d3d3 74%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content {
    padding-block: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn {
    border: 2px solid rgb(76, 155, 76);
    background-color: transparent;
    color: white;
    padding: 15px 40px;
    transition: 0.3s;
}

.banner-btn:hover {
    background-color: rgb(76, 155, 76);
}

.caption-content {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40%;
    padding: 10px;
    margin: 0 auto 100px;
}

.slide1 {
    background-image: url('https://i.ibb.co/bB1jqQH/img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide2 {
    background-image: url('https://i.ibb.co/yQwpmJ5/img-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide3 {
    background-image: url('https://i.ibb.co/C9xwFzG/img-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide4 {
    background-image: url('https://i.ibb.co/YjPt1gy/img-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide5 {
    background-image: url('https://i.ibb.co/xfL2Ccd/img-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide6 {
    background-image: url('https://i.ibb.co/QbsKwG1/img-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide7 {
    background-image: url('https://i.ibb.co/rb6cPc3/img-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide8 {
    background-image: url('https://i.ibb.co/XZtb5Ck/img-8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide9 {
    background-image: url('https://i.ibb.co/RYtCjY1/img-9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide10 {
    background-image: url('https://i.ibb.co/yhMzTjc/img-10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.slide1::after,
.slide2::after,
.slide3::after,
.slide4::after,
.slide5::after,
.slide6::after,
.slide7::after,
.slide8::after,
.slide9::after,
.slide10::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

@media screen and (min-width: 992px) {
    .banner-content {
        padding-block: 0;
        min-height: 100vh;
    }
}